/* base.html Styles */

/* Navbar  */

.nav-link {
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

body #block-content-container {
    margin: 0;
    padding: 0;
}

/* .ui-choice-btn {
    margin: 0 1em;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
} */

/* General Styles */

.masthead .container .query-text {
    margin-bottom: 4em;
}

.masthead .container .query-text h1 strong {
    font-size: 0.7em;
}

.section-divider {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 30%;
    margin-top: 3em;
    margin-bottom: 0;
}

/* Main Page */
#logo {
    font-size: 2em;
    margin-bottom: 5em;
}

#logo p {
    color: #fff;
}


/* New Game Page */


/* List of Classes Page */

#classes-masthead .masthead {
    height: 50vh;
    padding: 5em 0;
}

@media (max-width: 991px) {}

#classes-container {
    margin: 0;
    padding: 0;
}


/* My Own Targeted Media Queries */
@media (min-width: 992px) {
    .ui-choice-btn {
        font-size: 1.5em;
    }
}

@media (max-width: 991px) {

    /* General Styles */
    #logo {
        margin-bottom: 4em;
    }

    #logo p {
        font-size: .8em;
    }

    .masthead .container .query-text {
        margin-bottom: 3em;
    }

    /* List of Classes Page */
    #classes-masthead .masthead {
        height: 30vh;
        padding: 2em 0;
    }

}


@media (max-width: 767px) {

    /* List of Classes Page */
    #classes-masthead .masthead {
        min-height: 25em;
    }

    #classes-container {
        margin-top: -3em;
    }
}

@media (max-width: 359px) {
    #logo {
        margin-bottom: 3em;
    }

    .masthead .container .query-text {
        margin-top: -2em;
        margin-bottom: 2em;
    }
}