{% extends 'base.html' %}

{% block content %}

<!-- Masthead -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div id="logo">
                <p>(Such an...)</p>
                <h1 class="mx-auto my-0 text-uppercase"><strong>Original Fantasy Game&trade;</strong></h1>
            </div>
            <a class="ui-choice-btn btn btn-primary mx-1 js-scroll-trigger" href="{{ url_for('new_game') }}">Start a New
                Game!</a>
        </div>
    </div>
</header>

<!-- A H2 which may be used -->
<!-- <div class="query-text col-12">
                <h2 class="mx-auto mt-2 mb-5">What would you like to do?</h2>
                </div> -->

<!-- A Button which may be used -->
<!-- <div class="col-12 col-md-6"> <a class="ui-choice-btn btn btn-primary js-scroll-trigger"
                    href="{{ url_for('main_page') }}">Go to Home Screen</a></div> -->

{% endblock %}