{% extends 'base.html' %}

{% block content %}

<!-- Masthead -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div id="logo">
                <p>(Such an...)</p>
                <h1 class="mx-auto my-0 text-uppercase"><strong>Original Fantasy Game&trade;</strong></h1>
            </div>
            <a class="ui-choice-btn btn btn-primary mx-1 js-scroll-trigger" href="{{ url_for('new_game') }}">Start a New
                Game!</a>
        </div>
    </div>
</header>

{% endblock %}