{% extends 'base.html' %}

{% block content %}

<!-- Masthead (Should Possibly Be in main.html?) -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div id="logo">
                <p>(Such an...)</p>
                <h1 class="mx-auto my-0 text-uppercase"><strong>Original Fantasy Game&trade;</strong></h1>
            </div>
            <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Text</h2> -->
            <a id="new-game-btn" class="btn btn-primary js-scroll-trigger" href="#">Start a New Game!</a>
        </div>
    </div>
</header>

{% endblock %}