{% extends 'base.html' %}

{% block content %}

<!-- Masthead -->
<header id="list-masthead">
    <div class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="row text-center mx-auto">

                <!-- Page Heading Text -->
                <div class="query-text col-12">
                    <h1 class="mx-auto my-0 mx-2 text-uppercase"><strong>List of Races</strong>
                    </h1>
                </div>

                <div class="col-12"><a class="ui-choice-btn btn btn-primary js-scroll-trigger"
                        href="{{ url_for('create_race') }}">Create a New Race</a></div>
            </div>
        </div>
    </div>
</header>

<!-- Races Section -->
<div id="list-container">
    <section class="projects-section" id="projects">

        <!-- Player Created Races -->
        <div class="query-text col-12">
            <h1 class="mx-auto mt-5 mb-1 text-center">Player Created Races</h1>
        </div>

        <hr class="section-divider mt-lg-4 mb-lg-5">

        <div class="container">

            <!-- JinJa to iterate through Player Created Races -->
            {% for race in races %}

            <!-- Jinja to alternate between race image displaying left or right -->
            {% if loop.index % 2 != 0 %}

            <!--  Player Created Race: Image Displayed First -->
            <div class="row justify-content-center no-gutters mx-4 mx-xl-0 mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">{{ race.race_name }}</h4>

                                <p class="mb-0 text-white-50">
                                    {{ race.race_information }}
                                </p>

                                <hr class="mt-2 mb-2 mr-0">

                                <h4 class="text-white">Starting Stats:</h4>

                                <p class="mb-0 text-white-50">{{ race.race_stat_mod }}</p>

                                <div class="crud-button-row row mt-3  d-none d-lg-block">
                                    <a class="crud-button p-2 btn btn-primary js-scroll-trigger"
                                        href="{{ url_for('edit_race', race_id=race._id) }}">Edit</a>

                                    <a class="crud-button p-2 btn btn-warning js-scroll-trigger"
                                        href="{{ url_for('delete_race', race_id=race._id) }}">Delete</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 order-second order-lg-first">
                    <img class="img-fluid" src="/static/images/races/{{ race.race_image }}.jpg"
                        alt="Image of {{ race.race_name }}">
                </div>

                <div class="container text-center crud-button-container d-lg-none">
                    <div class="row">
                        <div class="col-6 m-0 p-0"><a class="crud-button btn btn-primary js-scroll-trigger"
                                href="{{ url_for('edit_race', race_id=race._id) }}">Edit</a></div>

                        <div class="col-6 m-0 p-0"><a class="crud-button btn btn-warning js-scroll-trigger"
                                href="{{ url_for('delete_race', race_id=race._id) }}">Delete</a></div>
                    </div>
                </div>
                <hr class="section-divider d-lg-none">
            </div>

            {% else %}

            <!-- Player Created Race: Image Displayed Second  -->
            <div class="row justify-content-center no-gutters mx-4 mx-xl-0 mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ race.race_name }}</h4>

                                <p class="mb-0 text-white-50">
                                    {{ race.race_information}}
                                </p>

                                <hr class="mt-2 mb-2 ml-0">

                                <h4 class="text-white">Starting Stats:</h4>

                                <p class="mb-0 text-white-50">{{ race.race_stat_mod }}</p>

                                <div class="row mt-3 mb-0 p-0 d-none d-lg-block">
                                    <a class="crud-button p-2 btn btn-primary js-scroll-trigger"
                                        href="{{ url_for('edit_race', race_id=race._id) }}">Edit</a>

                                    <a class="crud-button p-2 btn btn-warning js-scroll-trigger"
                                        href="{{ url_for('delete_race', race_id=race._id) }}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid" src="/static/images/races/{{ race.race_image }}.jpg"
                        alt="Image of {{ race.race_name }}">
                </div>

                <div class="container text-center crud-button-container d-lg-none">
                    <div class="row">
                        <div class="col-6 m-0 p-0"><a class="crud-button btn btn-primary js-scroll-trigger"
                                href="{{ url_for('edit_race', race_id=race._id) }}">Edit</a></div>

                        <div class="col-6 m-0 p-0"><a class="crud-button btn btn-warning js-scroll-trigger"
                                href="{{ url_for('delete_race', race_id=race._id) }}">Delete</a></div>
                    </div>
                </div>

                <hr class="section-divider d-lg-none">
            </div>

            {% endif %}

            {% endfor %}

        </div>

        <hr class="m-5 p-2">

        <!-- Preset Races -->
        <div class="query-text col-12">
            <h1 class="mx-auto mt-5 mb-1 text-center">Preset Races</h1>
        </div>

        <hr class="section-divider mt-lg-4 mb-lg-5">

        <div class="container">
            <!-- Preset Race One: The Orc -->
            <div class="row justify-content-center no-gutters mx-4 mx-xl-0 mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">

                                <h4 class="text-white">ORC</h4>

                                <p class="mb-0 text-white-50">
                                    Orcs are ferocious and
                                    not the brightest etc.
                                </p>

                                <hr class="mt-2 mb-2 ml-0">

                                <h4 class="text-white">Starting Stats:</h4>

                                <p class="mb-0 text-white-50">Stamina: +2</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid" src="/static/images/profiles/orc_assassin_f.jpg" alt="Image of the Orc">

                    <hr class="section-divider d-lg-none">
                </div>
            </div>

            <!--  Preset Race Two: The Elf -->
            <div class="row justify-content-center no-gutters mx-4 mx-xl-0 mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">ELF</h4>

                                <p class="mb-0 text-white-50">
                                    Elves are insufferably skilled etc.
                                </p>

                                <hr class="mt-2 mb-2 mr-0">

                                <h4 class="text-white">Starting Stats:</h4>

                                <p class="mb-0 text-white-50">Skill: +2</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 order-second order-lg-first">
                    <img class="img-fluid" src="/static/images/profiles/elf_warrior_f.jpg" alt="Image of the Elf">

                    <hr class="section-divider d-lg-none">

                </div>
            </div>

            <!-- Preset Race Three: The Pixie -->
            <div class="row justify-content-center no-gutters mx-4 mx-xl-0 mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">PIXIE</h4>

                                <p class="mb-0 text-white-50">
                                    Pixies are quite intelligent,
                                    but also annoying etc.
                                </p>

                                <hr class="mt-2 mb-2 ml-0">

                                <h4 class="text-white">Starting Stats:</h4>

                                <p class="mb-0 text-white-50">Intelligence: +2</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid" src="/static/images/profiles/pix_mage_m.jpg" alt="Image of the Pixie">

                    <hr class="section-divider d-lg-none">

                </div>
            </div>

    </section>
</div>
{% endblock %}